@using TrashSearch.Services
@using TrashSearch.Components

<div class="top-navbar">
    <ul>
        <!--<li><NavButton  Link="upload">Upload</NavButton></li>-->
        <li><NavButton Link="fetch"> Home </NavButton></li>
        <li><NavButton Link="fetch"> About </NavButton></li>
    </ul>
</div>

@code {
}
