@using QuoteProbe.Services
@using QuoteProbe.Components

<div class="top-navbar">
    <ul>
        <!--<li><NavButton  Link="upload">Upload</NavButton></li>-->
        <li><NavButton Link="fetch">  Search </NavButton></li>
        <li><NavButton Link="upload"> Upload </NavButton></li>
        <li><NavButton Link="about">  About  </NavButton></li>
    </ul>
</div>

@code {
}
